@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 219 40% 11%;

    --card: 0 0% 98%;
    --card-foreground: 219 40% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 219 40% 11%;

    --primary: 219 100% 50%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 219 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 219 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 219 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 219 40% 11%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 220 100% 50%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%; /* hsl(217.2, 32.6%, 17.5%) */
    --accent-foreground: 210 40% 98%; /* hsl(210, 40%, 98%) */

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

 
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

/* New Stylings adding for v5  */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.filter-white {
  filter: brightness(0) invert(1);
}


input[type="radio"] {
  accent-color: blue;
}

input[type="checkbox"] {
  accent-color: blue;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.perspective-1000 {
  perspective: 1000px;
}

.hover\:translate-z-10:hover {
  transform: translateZ(15px);
}

.hover\:rotate-x-5:hover {
  transform: rotateX(10deg);
}

.hover\:rotate-y-5:hover {
  transform: rotateY(10deg);
}
